:root {
    --offblack: #1a1817;

}

html {
    color: white;
    background-color: var(--offblack);
    font-family: serif;
}

body {

    width: 70%;
    min-height: 100vh;

    margin: 0 auto;
    
    display:flex;
    flex-direction: column;
    padding: 0 25px;

}

main{
      flex: 1 0 auto;
}

.fullscreen {
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    list-style-type: none;

    padding: 0;
    margin-bottom: 0;
    margin-top:0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 24pt;
}

nav ul li a:hover, nav ul li a:focus {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

nav ul li h1 a {
    font-size: 60pt;
    align-self: center;
}

.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

hr {
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 36pt;
}

h3{
    font-size: 22pt;
}

p {
    font-size: large;
    text-align: justify;
}

a {
    color: white;
}


a:hover, a:focus {
    color: white;
}

a:visited {
    color: inherit;
}

picture {
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 50%;

}

.gallery picture {
    width: 32%;
    margin-bottom: 2%;
}

.hidden-text {
    color: var(--offblack) !important;
}

.hidden-text:hover, .hidden-text:focus {
    color: white !important;
}

.monument-text p {
    font-size: 48pt;
    margin: 0;

}

em {
    font-style: italic;
}

form {
    width: 40%;
    margin: 0 auto;
}

label,
input,
textarea {
    display: block;
    width: 100%;
    margin: 2.5px 0;

}

form button {
    margin-top: 2.5px;
}

textarea {
    padding-bottom: 30%;
}


#map-block {
    display: block;
    width: 80%;
    padding: 30% 0;
    background-color: gray;
    margin: 0 auto;
}

#map-block:hover{
    cursor: pointer;
    border:1px solid white;
}

#you {
    margin: 0px auto;

}

#videoElement {

    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    object-fit: cover;
    background-color: #666;
}

#you-button {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 10;
    object-fit: cover;
    opacity: 0;
    cursor: pointer;
}

#flies {

    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -200;
    object-fit: cover;
    background-color: #666;
}

canvas {
    border: 1px solid white;
}


footer {

    width: 100%;
    text-align: center;
  flex-shrink: 0;
  margin: 5px 0;

}

footer a {
    color: white;
}

.checkbox-group{
    width: 20%;
    display: flex;
    flex-direction: row;
}

.checkbox-group label{
    text-align:end;
    margin-right: 5px;
    pointer-events: none;
  cursor: default
}
.checkbox-group input{
    width:fit-content;
}
#analysis-form{
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}


span {
    font-size: large;
    writing-mode: vertical-rl;
}

.canvas-label {
    text-align: center;
    margin:5px;
    font-size: 48pt;
}

.row{
    display:flex;
    flex-direction: row;
    justify-content:center;
}

.analysis-row{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
}

#result {
    width: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#retry{
    width:fit-content;
    margin: 5px auto;
}

#firmament-body{
    background-image: url("/images/sky.jpg");
    text-align: left;
    font-size: larger;
}

#firmament-body h2{
    text-align: left;
}

#firmament-body button{
    background: none;
    border:none;
    font-family: serif;
    color:white;
    font-size: large;
    text-decoration: underline;
    cursor: pointer;
}

#btn3{
    font-weight: bold;
}
.hidden {
    display: none !important;
}