:root{
    --offblack: #1a1817;
}
html{
    background-color: var(--offblack);
    color: white;
}

body{
    width: 70%;
    min-height: 100vm;

    margin-left: auto;
    margin-right: auto;
}

.fullscreen{
    width: 100%;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    list-style-type: none;

    padding: 0;
    margin-bottom: 0;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 24pt;
}

nav ul li a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
nav ul li h1 a{
    font-size: 60pt;
    align-self: center;
}

.active{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

hr{
    margin: 0 auto;
}
h2{
    text-align: center;
    font-size: 36pt;
}

p{
    font-size: large;
    text-align: justify;
}

a{
    color: white;
}
a:hover{
    color: white;
}
a:clicked{
    color:inherit;
}

picture{
    width:100%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    
}
.gallery picture{
    width: 32%;
    margin-bottom: 2%;
}

.hidden-text{
    color:var(--offblack);
}
.hidden-text:hover{
    color: white;
}

.monument-text p{
    font-size: 48pt;
    margin: 0;

}
em{
    font-style:italic;
}

form{
    width: 40%;
    margin: 0 auto;
}
label, input, textarea{
    display: block;
    width: 100%;
    margin: 2.5px 0;

}

form button{
    margin-top: 2.5px;
}
textarea{
    padding-bottom: 30%;
}


#map-block{
    display: block;
    width: 80%;
    padding: 30% 0;
    background-color: gray;
    margin: 0 auto;
}

#you {
	margin: 0px auto;

}
#videoElement {

position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  object-fit: cover;
background-color: #666;
}
#you-button{
   position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 10;
  object-fit: cover;
  opacity:0;
  cursor: pointer;
}

#flies {

position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -200;
  object-fit: cover;
	background-color: #666;
}


footer{

    width: 70%;
    margin-left: auto;
    margin-right: auto;    
    text-align: center;


}

footer a{
    color: white;
}

.hidden{
    display: none;
}